.cssload-spin-box {
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 100%;
  box-shadow: 13px 13px rgb(79,77,73), -13px 13px rgb(223,223,223), -13px -13px rgb(79,77,73), 13px -13px rgb(223,223,223);
  -o-box-shadow: 13px 13px rgb(79,77,73), -13px 13px rgb(223,223,223), -13px -13px rgb(79,77,73), 13px -13px rgb(223,223,223);
  -ms-box-shadow: 13px 13px rgb(79,77,73), -13px 13px rgb(223,223,223), -13px -13px rgb(79,77,73), 13px -13px rgb(223,223,223);
  -webkit-box-shadow: 13px 13px rgb(79,77,73), -13px 13px rgb(223,223,223), -13px -13px rgb(79,77,73), 13px -13px rgb(223,223,223);
  -moz-box-shadow: 13px 13px rgb(79,77,73), -13px 13px rgb(223,223,223), -13px -13px rgb(79,77,73), 13px -13px rgb(223,223,223);
  animation: cssload-spin ease infinite 3.8s;
  -o-animation: cssload-spin ease infinite 3.8s;
  -ms-animation: cssload-spin ease infinite 3.8s;
  -webkit-animation: cssload-spin ease infinite 3.8s;
  -moz-animation: cssload-spin ease infinite 3.8s;
}

@keyframes cssload-spin {
  0%,
  100% {
    box-shadow: 13px 13px rgb(79,77,73), -13px 13px rgb(223,223,223), -13px -13px rgb(79,77,73), 13px -13px rgb(223,223,223);
  }
  25% {
    box-shadow: -13px 13px rgb(223,223,223), -13px -13px rgb(79,77,73), 13px -13px rgb(223,223,223), 13px 13px rgb(79,77,73);
  }
  50% {
    box-shadow: -13px -13px rgb(79,77,73), 13px -13px rgb(223,223,223), 13px 13px rgb(79,77,73), -13px 13px rgb(223,223,223);
  }
  75% {
    box-shadow: 13px -13px #dfdfdf, 13px 13px #4f4d49, -13px 13px #dfdfdf, -13px -13px #4f4d49;
  }
}

@-o-keyframes cssload-spin {
  0%,
  100% {
    box-shadow: 13px 13px rgb(79,77,73), -13px 13px rgb(223,223,223), -13px -13px rgb(79,77,73), 13px -13px rgb(223,223,223);
  }
  25% {
    box-shadow: -13px 13px rgb(223,223,223), -13px -13px rgb(79,77,73), 13px -13px rgb(223,223,223), 13px 13px rgb(79,77,73);
  }
  50% {
    box-shadow: -13px -13px rgb(79,77,73), 13px -13px rgb(223,223,223), 13px 13px rgb(79,77,73), -13px 13px rgb(223,223,223);
  }
  75% {
    box-shadow: 13px -13px #dfdfdf, 13px 13px #4f4d49, -13px 13px #dfdfdf, -13px -13px #4f4d49;
  }
}

@-ms-keyframes cssload-spin {
  0%,
  100% {
    box-shadow: 13px 13px rgb(79,77,73), -13px 13px rgb(223,223,223), -13px -13px rgb(79,77,73), 13px -13px rgb(223,223,223);
  }
  25% {
    box-shadow: -13px 13px rgb(223,223,223), -13px -13px rgb(79,77,73), 13px -13px rgb(223,223,223), 13px 13px rgb(79,77,73);
  }
  50% {
    box-shadow: -13px -13px rgb(79,77,73), 13px -13px rgb(223,223,223), 13px 13px rgb(79,77,73), -13px 13px rgb(223,223,223);
  }
  75% {
    box-shadow: 13px -13px #dfdfdf, 13px 13px #4f4d49, -13px 13px #dfdfdf, -13px -13px #4f4d49;
  }
}

@-webkit-keyframes cssload-spin {
  0%,
  100% {
    box-shadow: 13px 13px rgb(79,77,73), -13px 13px rgb(223,223,223), -13px -13px rgb(79,77,73), 13px -13px rgb(223,223,223);
  }
  25% {
    box-shadow: -13px 13px rgb(223,223,223), -13px -13px rgb(79,77,73), 13px -13px rgb(223,223,223), 13px 13px rgb(79,77,73);
  }
  50% {
    box-shadow: -13px -13px rgb(79,77,73), 13px -13px rgb(223,223,223), 13px 13px rgb(79,77,73), -13px 13px rgb(223,223,223);
  }
  75% {
    box-shadow: 13px -13px #dfdfdf, 13px 13px #4f4d49, -13px 13px #dfdfdf, -13px -13px #4f4d49;
  }
}

@-moz-keyframes cssload-spin {
  0%,
  100% {
    box-shadow: 13px 13px rgb(79,77,73), -13px 13px rgb(223,223,223), -13px -13px rgb(79,77,73), 13px -13px rgb(223,223,223);
  }
  25% {
    box-shadow: -13px 13px rgb(223,223,223), -13px -13px rgb(79,77,73), 13px -13px rgb(223,223,223), 13px 13px rgb(79,77,73);
  }
  50% {
    box-shadow: -13px -13px rgb(79,77,73), 13px -13px rgb(223,223,223), 13px 13px rgb(79,77,73), -13px 13px rgb(223,223,223);
  }
  75% {
    box-shadow: 13px -13px #dfdfdf, 13px 13px #4f4d49, -13px 13px #dfdfdf, -13px -13px #4f4d49;
  }
}
