<template>
  <div class="container">
    <div class="content">
      <h1 class="title">{{title}}</h1>

      <div v-if="this.connectionError">
        <span>Connection broken!</span>
        <span v-if="this.connectionError.code"> ({{this.connectionError.code}})</span>
        <span v-if="this.connectionError.reason"> Reason: {{this.connectionError.reason}}</span>

        <div>
          Try to <a v-on:click="this.connect">reconnect</a>
          <span v-if="this.connectionError.code == 1002"> after some time...</span>
        </div>
      </div>

      <div v-if="this.loginfo">
        <div class="monitor-input">
          <label>
            Monitoring interval
            <input v-model.number="monitoringInterval"
                   v-on:change="send"
                   type="number"
                   min="1"
                   class="has-text-right">
          </label>
          seconds
        </div>

        <table class="table is-striped">
          <thead>
          <tr>
            <th colspan="2">
              Last check at {{this.loginfo.dateTime}}.
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>INFO</td>
            <td>{{this.loginfo.info}}</td>
          </tr>
          <tr>
            <td>WARNING</td>
            <td>{{this.loginfo.warning}}</td>
          </tr>
          <tr>
            <td>ERROR</td>
            <td>{{this.loginfo.error}}</td>
          </tr>
          </tbody>
        </table>

        <button type="button" class="button is-primary" v-on:click="this.ping">Ping</button>
      </div>

      <div class="cssload-spin-box" v-else></div>
    </div>
  </div>
</template>

<script>
  import SockJS from "sockjs-client";
  import Stomp from "webstomp-client";

  export default {
    name: 'Monitor',
    data() {
      return {
        title: 'Log file monitoring',
        monitoringInterval: '5',
        loginfo: null,
        connected: false,
        connectionError: null
      }
    },
    methods: {
      send() {
        console.log("Change monitoring interval:" + this.monitoringInterval);
        if (this.stompClient && this.stompClient.connected) {
          const msg = {monitoringInterval: this.monitoringInterval};
          this.stompClient.send("/app/changeInterval", JSON.stringify(msg), {});
        }
      },
      ping() {
        console.log("Ping monitoring summary");
        if (this.stompClient && this.stompClient.connected) {
          const msg = {monitoringInterval: this.monitoringInterval};
          this.stompClient.send("/app/severitySummary", null, {});
        }
      },
      connect() {
        this.connectionError = null;
        this.socket = new SockJS("/log-monitor");
        this.stompClient = Stomp.over(this.socket);
        this.stompClient.connect(
          {},
          frame => {
            this.connected = true;
            this.connectionError = null;
            console.log(frame);

            this.ping();

            this.stompClient.subscribe("/topic/severitySummary", tick => {
              console.log(tick);
              this.loginfo = JSON.parse(tick.body);
            });
          },
          error => {
            console.log(error);
            this.connected = false;
            this.connectionError = error;
          }
        );
      },
      disconnect() {
        if (this.stompClient) {
          this.stompClient.disconnect();
        }
        this.connected = false;
      },
      tickleConnection() {
        this.connected ? this.disconnect() : this.connect();
      }
    },
    mounted() {
      this.connect();
    }
  }
</script>

<style scoped>
  .content h1 {
    margin-bottom: 1rem;
  }

  .content table {
    width: auto;
    min-width: 12rem;
    margin: auto;
  }

  .monitor-input {
    padding: 1.5rem 0;
  }

  input {
    width: 3rem;
  }

  .content button {
    margin-top: 1rem;
  }
</style>
